{@ch.romix.mpa.domain.UserValueObject user}
{@java.util.Collection<ch.romix.mpa.domain.time.DayAggregate> dailyAggregates}
{@java.time.LocalDate currentDay}
{#include layout}
{#title}Home{/title}
{#body}

<h2>Meine Zeiterfassung</h2>

<p>Hier ist eine kleine Demonstration, wie einfach eine kleine Zeiterfassung mit dem MPA-Ansatz
  umzusetzen ist.</p>

<p>
  {#if user.name}
  Du bist angemeldet als {user.name} (<a href="/auth/logout">abmelden</a>)
  {#else}
  Um diese Funktionen nutzen zu können, musst du angemeldet sein. Gerne kannst du dir auch einen
  Account selber erstellen:
  <a href="/auth/login">Zum Login / Signup</a>
  {/if}
</p>

  {#if user.name}
    <r-columns>
      <r-column>
        {#include time/table /}
      </r-column>
      <r-column>
        <h2>Diesen Monat</h2>
        Einige Statistiken zum aktuellen Monat
        <h2>Dieses Jahr</h2>
        Und zu diesem Jahr
      </r-column>
    </r-columns>
  {/if}
{/body}
{/include}