{@ch.romix.mpa.domain.UserValueObject user}
{@java.util.Collection<ch.romix.mpa.domain.time.DayAggregate> dailyAggregates}
{@java.time.LocalDate currentDay}
{@ch.romix.mpa.web.time.StatisticsTemplateData stats}
{#include layout}
{#title}Home{/title}
{#body}

<h2>Meine Zeiterfassung</h2>

<p>Hier ist eine kleine Demonstration, wie einfach eine kleine Zeiterfassung mit dem MPA-Ansatz
  umzusetzen ist.</p>

<p>
  {#if user.name}
  Du bist angemeldet als {user.name} (<a href="/auth/logout">abmelden</a>)
  {#else}
  Um diese Funktionen nutzen zu können, musst du angemeldet sein. Gerne kannst du dir auch einen
  Account selber erstellen:
  <a href="/auth/login">Zum Login / Signup</a>
  {/if}
</p>

  {#if user.name}
    <r-columns>
      <r-column>
        {#include time/table /}
      </r-column>
      <r-column>
        <h2>Statistik</h2>
        <ul>
          <li>Total Arbeitszeit: {stats.worktimeTotal.toHours()}h {stats.worktimeTotal.toMinutesPart()}m</li>
          <li>Total Freizeit: {stats.sparetimeTotal.toHours()}h {stats.sparetimeTotal.toMinutesPart()}m</li>
        </ul>
      </r-column>
    </r-columns>
  {/if}
{/body}
{/include}