{@java.time.LocalDate currentDay}
<form class="table-row" method="post" action="/time/add" enctype="multipart/form-data"
      up-target="main">
  <div class="table-cell">
    {currentDay.format}
    <input name="day" value="{currentDay}" type="hidden">
  </div>
  <div class="table-cell"><input name="start" type="time"/></div>
  <div class="table-cell"><input name="end" type="time"/></div>
  <div class="table-cell"></div>
  <div class="table-cell">
    <select name="timeType">
      <option value="WORKTIME" selected>Arbeitszeit</option>
      <option value="SPARETIME">Freizeit / Ferien</option>
    </select>
  </div>
  <div class="table-cell"><input type="submit" value="Hinzufügen"/></div>
</form>

