{@java.util.Collection<ch.romix.mpa.domain.time.DayAggregate> dailyAggregates}
{@java.time.LocalDate currentDay}
  <div class="table entries-table">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell">Datum</div>
        <div class="table-cell">von</div>
        <div class="table-cell">bis</div>
        <div class="table-cell">Dauer</div>
      </div>
    </div>
    {#for day in dailyAggregates}
    {#include time/day /}
    {/for}
    {#include time/new-entry /}
  </div>