{#include layout}
{#title}Home{/title}
{#body}

<h2>SPAs bringen viel Komplexität</h2>
<p>Ich entwickle nun seit ein paar Jahren Web-UIs mit AngularJS und später mit React. Das sind
  zwei grossartige Projekte. Damit lassen sich tolle UIs erstellen. Insbesondere dann, wenn man
  die volle Kontrolle über den Browser braucht. Damit lassen sich Anwendungen entwickeln, die
  einer nativen Desktop-App unglaublich nahe kommen.</p>
<p>Am Anfang ist das alles auch noch recht einfach. Google und Facebook haben alles daran gesetzt,
  dass der Einstieg einfach ist. Mit der Zeit kommt aber eine stattliche Anzahl von importierten
  Bibliotheken und Konzepten zusammen. Viele davon sind wirklich sehr gut durchdacht und brilliant
  umgesetzt. Trotzdem fügen sie meinem Projekt zusätzliche Komplexität hinzu. </p>
<p>Bei Single Page Applikationen ist der Komplexitätszuwachs meist häppchenweise. Sichtbar wird
  das erst, wenn jemand mit HTML- und CSS-Erfahrung zu einem SPA-Projekt stöst. Schon mal innert
  zwei Stunden versucht, alle npm-Pakete zu erklären, die es braucht, damit man ein korrektes
  Routing, Server-Side-Rendering und State-Management hinkriegt? Oh, und Graphql haben wir auch
  noch im Einsatz.</p>

<h2>Geht das nicht einfacher?</h2>
<p>&quot;Hmm. Wo ist das Problem? Das Zeugs kann man ja lernen.&quot;</p>
<p>Ja, schon. Aber unter dem Strich kostet das viel Zeit und Geld (und manche Nerven). Wieviel
  Spass hat es gemacht, als du das letzte Angular- oder React-Projekt nach zwei Jahren auf den
  neusten Stand gebracht hast?</p>
<p>Ich versuche hier zu zeigen, dass alles auch viel einfacher geht. Vielleicht sollten wir
  einfach wieder HTTP, HTML, CSS und JavaScript dazu benutzen, wofür sie erfunden wurden. Ich
  versuche hier zu zeigen, wie weit man damit heute kommt.</p>

<h2>Was mich inspiriert hat</h2>
<p>In erster Linie war es der Vortrag der Java User Group Schweiz hier <a
    href="https://www.youtube.com/watch?v=TKzGHS0Qp1E&t=4136s">Architekturoptionen für moderne Web
  Frontends</a> Stefan Tilkov und Lucas Dohmen von <a href="https://innoq.de">INNOQ</a> legen dar,
  welche hohe Komplexität SPAs mittlerweile haben und warum sie denken, dass weniger oft mehr ist.

<p>Über diesen Blogpost habe ich mich für die Template-Engine Qute für Quarkus entschieden: <a
    href="https://www.morling.dev/blog/quarkus-qute-test-ride/">Quarkus Qute
  – A Test Ride</a></p>

{/body}
{/include}