{#include layout}
{#title}Home{/title}
{#body}

<h2>Was ist eine Multi-Page App (MPA)?</h2>
<p>Das ist eigentlich eine simple Webseite im ursprünglichsten Sinne. Jede Seite verfügt über eine
  eigene URL. Es wird ein HTML ausgeliefert, welches zusammen mit CSS zu einer Seite gerendert wird.
  JavaScript ist nicht zwingend notwendig, kann aber gewissen Stellen für mehr Usability sorgen.</p>
<p>Die Seiten werden in der Regel mit Template-Engines erstellt. Solche Engines gibt es sehr
  viele. Damit lassen sich einzelne Teile in Komponenten kapseln und allgemeine Seitenlayouts
  vererben.</p>

<r-slide-nav>
  <img alt="Grafik: So funktioniert eine Template-Engine" src="/img/template-engine.svg" style="width: 40em; max-width: 100%"/>
</r-slide-nav>

<r-slide-nav>
  <a href="/home/was-fehlt" up-preload up-target="main" up-transition="cross-fade">
    <button>Weiter</button>
  </a>
</r-slide-nav>

{/body}
{/include}