/*
Colors:
background: white
blue: rgb(0, 143, 215)
green: #80D741
*/

html {
  font-size: 16px;
  font-family: "Open Sans", "Ubuntu", "Arial", "sans-serif";
}

body {
  background: white;
  padding: 0rem;
  margin: 0rem;
}

h1 {
  font-size: 2rem;
  margin: 3rem 2rem;
}

nav {
  background: rgb(0, 143, 215);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 1rem 1rem;
}

nav a {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #80D741;
}

nav a.up-current {
  background-color: #80D741;
}

nav a.up-current:hover {
  color: white;
}

main {
  margin: 3rem 2rem;
}

r-slide-nav {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

r-slide-nav * {
  margin-right: 1em;
}

r-two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 1rem 1rem;
  justify-content: flex-start;
}

r-two-columns ul, r-two-columns r-programmer-portrait {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 0;
  margin-top: 1rem;
  max-width: 500px;
}

.form-section {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.sample-form r-field:after {
  content: "";
  display: table;
  clear: both;
 }

.sample-form r-field {
  display: block;
}
.sample-form r-field label {
  display: inline-block;
  float: left;
  width: 25%;
  margin-top: 1em;
}

.sample-form r-field > * {
  float: left;
  width: 75%;
  margin-top: 1em;
  box-sizing: border-box;
}

.sample-form fieldset {
  border: 0;
  margin: 0;
}

fieldset {
  padding: 0;
}

fieldset label {
  position: relative;
}

fieldset.forms-time-fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  gap: 0em 1em;
}

fieldset.forms-time-fieldset input[type="radio"] {
  display: none;
}

.sample-form r-field label.forms-time-label {
  position: relative;
  display: block;
  float: none;
  width: auto;
}

fieldset.forms-time-fieldset input ~ r-input-box {
  background-color: #f2f2f2;
  border: 1px solid rgb(0, 143, 215);
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 0.7em 1em;
  box-sizing: border-box;
}

fieldset input:checked ~ r-input-box {
  color: white;
  background-color: rgb(0, 143, 215);
}

.sample-form button {
  margin-top: 1em;
}

@media screen and (max-width: 600px) {
  .sample-form r-field > *, .sample-form button[type=submit] {
    width: 100%;
    margin-right: 0;
  }
  fieldset input[type="radio"] {
    width: auto;
    float: none;
  }
  fieldset input ~ r-input-box {
    width: 100%;
    margin-right: 0;
  }
}

.single-line-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.single-line-form * {
  margin-right: 1rem;
}

r-validation-error {
  display: block;
  background: #F8F0FB;
  color: red;
  margin-top: 1rem;
  padding: 1rem;
}

r-quelle {
  display: block;
  font-style: italic;
}

code {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(30,30,30);
  color: rgb(20, 240, 20);
}
code strong {
  color: rgb(0, 255, 0);
}

input {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid gainsboro;
}

input[type="search"] {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1em;
}

button {
  cursor: pointer;
  border: 2px solid rgb(0, 143, 215);
  border-radius: 5px;
  background-color: rgb(0, 143, 215);
  color: white;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  border: 2px solid rgb(0, 143, 215);
  color: rgb(0, 143, 215);
}

.screenshot {
  width: 50%;
  border: 1px solid grey;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.github {
  position: absolute;
  top: 0px;
  right: 0px;
}

.table {
  display: table;
}
.table-header-group {
  display: table-header-group;
  font-weight: bold;
}
.table-row {display: table-row; }
.table-row:nth-child(odd) {
  background: #eee;
}
.table-cell {
  display: table-cell;
  padding: 0.2em 0.5em;
}