{#include layout}
{#title}Home{/title}
{#body}

<h2>Was spare ich mir?</h2>

<p>Der Stack wird um einiges kleiner. Wir haben nur noch ein Repo. Weniger Stack und Komplexität
  bedeutet auch mehr Wartbarkeit. Eine React- oder Angular-Anwendung inkl. Server auf den neusten
  Stand zu bringen ist um einiges aufwändiger, als eine Template-Engine mit drei, vier
  JavaScript-Libraries oben drauf.</p>

<h2>Kann ich trotzdem komplexe UIs bauen?</h2>
<p>Ja, das geht. Ich zeige das im Abschnitt
  <a href="/forms" up-target="main"
     up-transition="cross-fade" up-preload>Formulare</a>.
</p>

<r-slide-nav>
  <a href="/home/trotzdem" up-preload up-target="main" up-transition="cross-fade">
    <button>Zurück</button>
  </a>
  <a href="/home/inspiration" up-preload up-target="main" up-transition="cross-fade">
    <button>Weiter</button>
  </a>
</r-slide-nav>

{/body}
{/include}