{#include layout}
{#title}Home{/title}
{#body}

<h2>Was mich inspiriert hat</h2>
<p>In erster Linie war es der Vortrag der Java User Group Schweiz hier <a
    href="https://www.youtube.com/watch?v=TKzGHS0Qp1E&t=4136s">Architekturoptionen für moderne Web
  Frontends</a> Stefan Tilkov und Lucas Dohmen von <a href="https://innoq.de">INNOQ</a> legen dar,
  welche hohe Komplexität SPAs mittlerweile haben und warum sie denken, dass weniger oft mehr ist.

<p>Über diesen Blogpost habe ich mich für die Template-Engine Qute für Quarkus entschieden: <a
    href="https://www.morling.dev/blog/quarkus-qute-test-ride/">Quarkus Qute
  – A Test Ride</a></p>

<r-slide-nav>
  <a href="/home/was-spare-ich-mir" up-preload up-target="main" up-transition="cross-fade">
    <button>Zurück</button>
  </a>
</r-slide-nav>

{/body}
{/include}